@using Social_Network.Core.Application.ViewModels.User;
@model LoginViewModel;
@{
    ViewData["Title"] = "Log In";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h2>Log in</h2>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form method="post" asp-controller="User" asp-action="Login">
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">User Name:</label>
                            <input asp-for="UserName" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password:</label>
                            <input asp-for="Password" class="form-control" />
                        </div>

                        <div>
                            <a asp-controller="User" asp-action="RestorePassword">I forgot my password</a>
                        </div>

                        <div class="mt-2">
                            <button type="submit" class="btn btn-outline-primary">Log In</button>
                            <a asp-controller="User" asp-action="Register" class="btn btn-success ms-auto">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>